body {
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
  font-weight: 700;
  background-color: white;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.middle-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.inner-container {
  display: grid;
  grid-template-columns: auto;
  max-width: 360px;
  gap: 100px 60px;
}

.interface-container {
  height: 100%;
}

.cards {
  grid-template-rows: auto auto auto;
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.label-container {
  display: grid;
  grid-template-columns:  150px 150px;
  justify-items: center;
  column-gap: 60px;
}

.image-container {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-items: center;
  align-items: center;
  column-gap: 60px;
}

.price-container {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-items: center;
  align-items: center;
  column-gap: 60px;
}

.button-container {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-items: center;
  column-gap: 60px;
}

.card-label {
  flex: 1;
  max-width: 150px;
  /* margin-bottom: 10%; */
  text-align: center;
  display: flex;
  align-items: center;
}

.grid-maker {
  display: grid;
  grid-template-areas: "";
}

.card-image {
  max-width: 100%;
  height: auto;
  float: left;
  border-radius: 12%;
  width: 150px;
  transition: 100ms;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70%;
  height: 37px;

  margin-top: 10px;

  border-radius: 5px;
  border-width: 1px;

  color: black;
  background-color: #FFBF00;

  font-family: 'montserrat';
  font-weight: 500;
  border: 0;

  cursor: pointer;
  text-decoration: none;
}

.card-price {
  margin-top: 10px;
}

.basket-button-container {
  width: 100%;
  margin-top: 10%;
  position: sticky;
  bottom: 0;   
}

.basket-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: black;
  background-color: #FFBF00;

  height: 3.5rem;

  text-decoration: none;
}

#image-loader {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
}
